<!-- <div class="container mt-3 border p-3 d-flex">
  <div class="w-25 border-end pe-3">
    @for (obs of observations; track = $index) {
      <button
        class="btn w-100 mb-2"
        [class.btn-dark]="i === selectedIndex"
        [class.btn-outline-dark]="i !== selectedIndex"
        (click)="select(i)"
      >
        {{ obs.Datas[0].SamplingTime | date: 'dd-MM-yyyy hh:mm:ss a' }}
      </button>
    }
    @empty {
      <p>No observations found.</p>
    }
  </div>

  <div class="flex-grow-1 ps-3">
    @if (form) {
      <form [formGroup]="form">
        @for (prop of selectedProperties; track prop.Label) {
          <div class="mb-3">
            <label class="form-label">{{ prop.Label }}</label>

            @if (typeof form.get(formatLabel(prop.Label))?.value === 'boolean') {
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [formControlName]="formatLabel(prop.Label)"
                />
              </div>
            }
            @else if (typeof form.get(formatLabel(prop.Label))?.value === 'number') {
              <input
                type="number"
                class="form-control"
                [formControlName]="formatLabel(prop.Label)"
              />
            }
            @else {
              <input
                type="text"
                class="form-control"
                [formControlName]="formatLabel(prop.Label)"
              />
            }
          </div>
        }

        <button type="button" class="btn btn-primary mt-2" (click)="save()">Save</button>
      </form>
    }
    @else {
      <p>Select an observation to view details.</p>
    }
  </div>
</div> -->
