<div class="d-flex border p-3" style="border: 2px solid black;">
  <div class="me-4 border-end pe-3" style="min-width: 200px; border-right: 2px solid black;">
    @for (data of observation?.datas; track $index; let i = $index) {
      <div class="mb-2" style="border-bottom: 1px solid gray; padding-bottom: 5px;">
        <button
          class="btn w-100"
          [class.btn-dark]="i === selectedIndex"
          [class.btn-outline-dark]="i !== selectedIndex"
          (click)="select(i)"
          style="text-align: left; padding-left: 10px;"
        >
          {{ data.samplingTime | date: 'dd-MM-yyyy hh:mm:ss a' }}
        </button>
      </div>
    }
  </div>

  <div class="flex-grow-1 p-3" style="border: 2px solid black;">
    @if (form) {
      <form [formGroup]="form">
        <div class="mb-3">
          <label class="form-label">Project Name:</label>
          <input type="text" formControlName="project_name" class="form-control" />
        </div>

        <div class="mb-3">
          <label class="form-label">Construction Count:</label>
          <input type="number" formControlName="construction_count" class="form-control" />
        </div>

        <div class="mb-3">
          <label class="form-label">Is Construction Completed:</label>
          <input type="checkbox" formControlName="is_construction_completed" class="form-check-input" />
        </div>

        <div class="mb-3">
          <label class="form-label">Length of the road:</label>
          <input type="number" formControlName="length_of_the_road" class="form-control d-inline w-auto" />
          <span> KM</span>
        </div>

        <button class="btn btn-primary mt-2" type="button" (click)="save()" style="width: 100px;">Save</button>
      </form>
    }
  </div>
</div>